{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block main %}
{% load static %}

<!-- django.messages  -->


<div class="text-center py-5 bg-primary-subtle">

  {% if messages %}
    {% for message in messages %}
      <div role="alert" class="alert alert-{{ message.tags }} alert-dismissible fade show container-xxl text-start">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
  
  <div class="container-xxl px-5">
    <h1 class="display-4 fw-bold text-body-emphasis">Your Path to Smarter Studying Starts Here</h1>
    <p class="lead mb-4">Join your fellow Hoos at UVA in a dedicated space for studying, resource sharing, and acing every class together.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <a href="{% url 'account_login' %}" class="text-decoration-none">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">
          Get Started!
        </button>
      </a>
    </div>
    <div class="overflow-hidden" > 
      <!-- style="max-height: 30vh;" -->
      <img src="{% static 'hoos_study_app/img/landing_page.png' %}" class="img-fluid mb-4" alt="Landing Page Image">
    </div>
  </div>
</div>

<div class="text-center py-5">
        
  <div class="container-xxl px-5" id="featured-3">
      <div class="row g-5 py-5 row-cols-1 row-cols-lg-3">

        <div class="col text-center">
          <div class="d-flex align-items-center justify-content-center text-bg-primary bg-gradient rounded-4 mb-3 mx-auto"
                style="width: 70px; height: 70px;">
            <i class="bi bi-book" style="font-size: 2rem;"></i>
          </div>
          <h3 class="fs-2 text-body-emphasis">Join Study Groups</h3>
          <p>Dive right into study groups for your UVA classes, instantly connect with peers, and start working smarter, together.</p>
          <a href="{% url 'hoos_study_app:class-list' %}" class="icon-link">
            See our list of classes
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>

        <div class="col text-center">
          <div class="d-flex align-items-center justify-content-center text-bg-primary bg-gradient rounded-4 mb-3 mx-auto"
                style="width: 70px; height: 70px;">
            <i class="bi bi-calendar-week" style="font-size: 2rem;"></i>
          </div>
          <h3 class="fs-2 text-body-emphasis">Plan Study Sessions</h3>
          <p>Instantly connect with your classmates, coordinate times that work for everyone, and start collaborating to tackle tough topics together.</p>
          <!-- <a href="#" class="icon-link">
            ...
            <i class="bi bi-chevron-right"></i>
          </a> -->
        </div>

        <div class="col text-center">
          <div class="d-flex align-items-center justify-content-center text-bg-primary bg-gradient rounded-4 mb-3 mx-auto"
                style="width: 70px; height: 70px;">
            <i class="bi bi-journal" style="font-size: 2rem;"></i>
          </div>
          <h3 class="fs-2 text-body-emphasis">Share Resources</h3>
          <p>Exchange notes, files, study guides, and other valuable materials to help you and your study group succeed every step of the way.</p>
          <!-- <a href="#" class="icon-link">
            ...
            <i class="bi bi-chevron-right"></i>
          </a> -->
        </div>

      </div>
    </div>
</div>

{% endblock %}